Modules/cris-module/src/main/webapp/WEB-INF/ebx/CRISDataModel.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--XML schema generated from EBX(R) DMA instance [reference=CRISDataModel] on Mon Aug 28 18:37:03 IST 2023 by user [admin].-->
<xs:schema xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebxs="urn:ebx-schemas:session_1.0">
    <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="https://schema.orchestranetworks.com/common_1.0.xsd"/>
    <xs:import namespace="urn:ebx-schemas:session_1.0" schemaLocation="https://schema.orchestranetworks.com/session_1.0.xsd"/>
    <xs:annotation>
        <xs:appinfo>
            <osd:addon>ebx-addon-mame</osd:addon>
            <osd:validation>
                <validationMessageThreshold>1000</validationMessageThreshold>
            </osd:validation>
            <osd:inheritance>
                <dataSetInheritance>none</dataSetInheritance>
            </osd:inheritance>
            <ebxbnd:binding targetDirectory="D:\EBX\ebxServer\webapps\modules\cris-module\src\main\java">
                <javaPathConstants typeName="com.bct.crismodule.Paths">
                    <nodes root="/root" prefix="" relativeToRoot="false"/>
                </javaPathConstants>
            </ebxbnd:binding>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="root" osd:access="--">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="station" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Station</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/tab1/stn_code </primaryKeys>
                                <historyProfile>ebx-allBranches</historyProfile>
                                <defaultLabel>${./tab1/stn_name} - ${./tab1/stn_code}</defaultLabel>
                                <defaultView>
                                    <toolbars>
                                        <tabularViewTop>StationCreation</tabularViewTop>
                                    </toolbars>
                                </defaultView>
                            </osd:table>
                            <osd:trigger class="com.bct.crismodule.trigger.StationTrigger"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tab1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Tab 1</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:defaultView>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="stn_code" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Station Code</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="stn_name" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Station Name</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="code_name" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Code + Name</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:function class="com.bct.crismodule.function.StationTempFunction"/>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="zone" type="xs:string" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Zone</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <tablePath>/root/zone</tablePath>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="division" type="xs:string" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Division</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:tableRef>
                                                            <tablePath>/root/division</tablePath>
                                                            <filter>
                                                                <predicate>contains(./zone,${../zone})</predicate>
                                                            </filter>
                                                        </osd:tableRef>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="gauge_type" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Gauge Type</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="traffic_type" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Traffic Type</osd:label>
                                                </xs:documentation>
                                                <xs:appinfo>
                                                    <osd:otherFacets>
                                                        <osd:constraint class="com.bct.crismodule.constraint.StationTrafficConstraint"/>
                                                    </osd:otherFacets>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="halt_flag" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Halt Flag</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tab2">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Tab 2</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:defaultView>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="latitude" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Latitude</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="longitude" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en-US">
                                                    <osd:label>Longitude</osd:label>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="division" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Division</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/div_code </primaryKeys>
                                <historyProfile>ebx-allBranches</historyProfile>
                                <defaultLabel>${./div_name}</defaultLabel>
                                <defaultView>
                                    <toolbars>
                                        <tabularViewTop>DivisionCreation</tabularViewTop>
                                    </toolbars>
                                </defaultView>
                            </osd:table>
                            <osd:trigger class="com.bct.crismodule.trigger.DivisionTrigger"/>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="div_code" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Division Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="div_name" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Division Name</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="zone" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Zone</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:otherFacets>
                                            <osd:tableRef>
                                                <tablePath>/root/zone</tablePath>
                                            </osd:tableRef>
                                        </osd:otherFacets>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="stn_div_association" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Station Division Association</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <tableRefInverse>
                                                <fieldToSource>/root/station/tab1/division</fieldToSource>
                                            </tableRefInverse>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="zone" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Zone</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/zone_code </primaryKeys>
                                <historyProfile>ebx-allBranches</historyProfile>
                                <defaultLabel>${./zone_name}</defaultLabel>
                                <defaultView>
                                    <toolbars>
                                        <tabularViewTop>ZoneCreation</tabularViewTop>
                                    </toolbars>
                                </defaultView>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="zone_code" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Zone Code</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="zone_name" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Zone Name</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="div_zone_association" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Division Zone Association</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <tableRefInverse>
                                                <fieldToSource>/root/division/zone</fieldToSource>
                                            </tableRefInverse>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="stn_zone_association" type="xs:string" minOccurs="0" maxOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Station Zone Association</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:association>
                                            <tableRefInverse>
                                                <fieldToSource>/root/station/tab1/zone</fieldToSource>
                                            </tableRefInverse>
                                        </osd:association>
                                        <osd:defaultView>
                                            <hiddenInDataServices>true</hiddenInDataServices>
                                            <displayMode>tab</displayMode>
                                        </osd:defaultView>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="total_count" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Total Count</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/total_pk </primaryKeys>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="total_station" type="xs:int" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Total Station</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="total_division" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Total Divisions</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="total_zone" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Total Zones</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="total_pk" type="xs:string" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>primary key</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>